<a href="https://colab.research.google.com/github/MwihakiWanjiku/EDA-on-red-wine-data/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List commonly used libraries used by Data Scientists
*   List development environment open source tools used in data science
*   Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Scala.
5. Julia.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplolib
4. Keras
5. Plotly

|Data Science Tools|
|:---:|
|Jupyter Notebook|
|RStudio|
|Pytorch|
|MLFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
hours = 200 // 60
hours
#This will convert 200 minutes to hours by diving by 60

3

## Author
Purity Mwihaki Wanjiku